.dimm-hero {
  width: 100%;
  background: linear-gradient(45deg, #360e6a, #1e1d27 25%, #1e1d27);

  .container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 10rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-grow: 1;
  }
}
